* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --light: #FFFFFF;
    --gray: #ECECEC;
    --deep-gray: #D9D9D9;
    --black: #434343;
    --red: #DC3636;
    --orange: #f39b4e;
    --light-orange: #fdf0e5;

    --fnt-large: 32px;
    --fnt-md: 18px;
}

header {
    background-color: var(--light);
    position: sticky;
    top: 0;
    left: 0;
}

nav {
    margin-inline: auto;
    max-width: 1440px;
    /* min-height: 150px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 10px;
    /* border: 1px solid red; */
}

#logo-box {
    padding: 15px 40px;
    /* background-color: var(--deep-gray); */
    border-radius: 5px;
}

#logo-box a {
    color: var(--black);
    font-size: var(--fnt-large);
}

#menu-box {
    display: flex;
    gap: 20px;
    /* border: 1px solid red; */
    flex-direction: column;
    height: 100%;
    min-width: 70%;
    transition: all 0.5s;
}

#ham-box {
    display: none;
    position: fixed;
    right: 30px;
    top: 35px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#ham-line {
    height: 5px;
    width: 100%;
    background-color: var(--black);
}

#options-box {
    display: flex;
    justify-content: end;
}

#options-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
}

#item-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#item-box a {
    font-size: var(--fnt-md);
    padding: 8px 24px;
    color: var(--black);
}

#active {
    background-color: var(--red);
    border-radius: 28px;
    color: var(--light) !important;
}

#main-body {
    background-color: var(--gray);
    padding: 39px 0px;
}

#hero-section {
    max-width: 1125px;
    margin-inline: auto;
    padding: 37px;
    background-color: var(--light);
}

#hero-top-wraper {
    display: flex;
}

#hero-title-box {
    width: 70%;
    display: flex;
    flex-direction: column;
}

#hero-title-box h2 {
    font-size: 32px;
    color: var(--black);
    margin-bottom: 24px;
}

#title-cat-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    min-height: 40px;
    font-weight: 600;
    font-family: "Sans";
}

#title-cat-box div {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
    padding: 8px 13px;
    border-radius: 30px;
}

#cat-1 {
    border: 1px solid var(--black);
}

#cat-2 {
    background-color: #f8d7d7;
}

#cat-3 {
    background-color: #b4b4b4;
}

#hero-stats-box {
    width: 30%;
}

#menber-info-box {
    display: flex;
    border: 1px solid var(--black);
    border-radius: 10px 10px 0px 0px;
}

#menber-info-box div {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.member-price {
    font-size: 24px;
    color: var(--black);
}

#sign-up-btn {
    background-color: var(--red);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
    font-size: 21px;
    color: var(--light);
    padding: 13px 0px;
    text-align: center;
    width: 100%;
    border: none;
    cursor: pointer;
}

#stat-bottom {
    font-size: 18px;
    color: var(--black);
    padding: 8px 16px;
    border: 1px solid var(--black);
    border-radius: 5px;
    margin-bottom: 44px;
    width: 100%;
    cursor: pointer;
    background: transparent;
}

#hero-bottom-box {
    display: flex;
    justify-content: space-between;
    min-height: 53px;
}

.bottom-inner-box {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;
    padding-inline: 24px;
}

.bottom-inner-box div p {
    padding-bottom: 5px;
}

.middle-box {
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
}

#main-content-section {
    background-color: var(--gray);
    padding-bottom: 50px;
}

#main-content-body {
    max-width: 1125px;
    margin-inline: auto;
    background-color: var(--light);
    display: flex;
    gap: 63px;
}

#main-contant {
    margin-top: 50px;
    margin-left: 30px;
}

#main-contant p {
    color: var(--black);
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
}

#main-contant-aside {
    padding-top: 34px;
    display: flex;
    max-width: 425px;
    flex-direction: column;
    align-items: center;
    padding: 20px 38px;
   background-color: var(--light-orange);
}

#main-contant-aside img {
    width: 146px;
    height: 146px;
    border-radius: 50%;
    margin-bottom: 35px;
}

#main-contant-aside div {
    width: 100%;
}

#main-contant-aside p {
    padding-bottom: 60px;
    color: var(--black);
    line-height: 25px;
}

#main-contant-aside div button {
    float: left;
    background: var(--light);
    border: 1px solid var(--red);
    color: var(--red);
    border-radius: 30px;
    font-weight: bold;
    padding: 8px 25px;
    font-size: 18px;
}

#social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
    color: var(--black);
}

hr {
    margin-bottom: 32px;
    height: 3px;
    background: var(--black);
}

#class-schedule {
    font-size: 24px;
    color: var(--black);
    font-weight: 900;
    margin-bottom: 34px;
}

#class-time {
    font-size: 18px;
    line-height: 28px;
    color: var(--black);
    margin-bottom: 34px;
}

#class-time span {
    font-weight: 700;
}

#dates {
    display: flex;
    gap: 10px;
    padding-bottom: 58px;
}

#dates span {
    line-height: 28px;
    font-size: 18px;
    color: var(--black);
    font-weight: 700;
}

#dates table tr td {
    width: 58px;
    padding: 2px 0px;
}

#slider-box {
    min-height: 200px;
    margin-inline: auto;
    max-width: 1125px;
    background: url("./media/images/slider_cover.png");
    margin-bottom: 30px;
}


#similar-classes-box {
    margin-inline: auto;
    max-width: 1125px;
    padding: 50px 40px;
    background-color: var(--light);
}

#similar-classes-box h2 {
    color: var(--black);
    font-size: 24px;
    margin-bottom: 30px;
}

#learn-more-container {
    display: flex;
    gap: 85px;
    font-size: 18px;
}

#learn-more-box p {
    line-height: 28px;
}

#learn-more-box a {
    line-height: 28px;
    color: var(--red);
}

#bottom-info-wraper {
    max-width: 1125px;
    margin-inline: auto;
}

#remote-class-info {
    padding: 70px 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: var(--black);

}

#remote-class-info h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0.02em;
}

#remote-class-info p {
    font-size: 18px;
    line-height: 28px;
}

#remote-class-info div {
    display: flex;
    gap: 45px;
}

#remote-class-info div a {
    color: var(--red);
}

#policy-box {
    padding: 70px 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: var(--black);
    font-size: 18px;
}

#policy-wrapper {
    display: flex;
    gap: 30px;
    line-height: 28px;
    font-size: 18px;
}

.policy-title {
    color: var(--red);
}

footer {
    background-color: var(--black);
    /* min-height: 410px; */
}

#footer-container {
    max-width: 1125px;
    margin-inline: auto;
    padding: 20px 40px;
}

.footer-rows {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--light);
    margin: 20px 0px;
}

.footer-rows p {
    font-size: 15px;
    line-height: 28px;
    padding: 12px 0px;
}

.footer-rows h4 {
    font-size: 21px;
    line-height: 28px;
}

.footer-rows span {
    color: var(--orange);
}

#footer-social-icons {
    display: flex;
    gap: 10px;
}

#subscribe-form {
    margin-top: 10px;
    height: 52px;
    border: 2px solid var(--light);
    border-radius: 30px;
    background-color: var(--light);
}

#subscribe-form input {
    height: 100%;
    padding-left: 19px;
    outline: none;
    background: transparent;
    border: none;
}

#subscribe-form button {
    border-radius: 30px;
    height: 100%;
    width: 112px;
    outline: none;
    background-color: var(--orange);
    border: none;
}

#active-social-icon{
    background-color: var(--orange);
    border-radius: 50%;
}











@media only screen and (max-width: 922px) {

    nav {
        flex-direction: column;
    }

    #menu-box {
        width: 100%;
        display: none;
    }

    #ham-box {
        display: block;
    }

    #options-box {
        justify-content: center;
    }

    #item-box {
        flex-direction: column;
    }

    #hero-top-wraper {
        flex-direction: column;
    }

    #hero-title-box {
        width: 100%;
        align-items: center;
    }

    #hero-title-box h2 {
        font-size: 24px;
    }

    #hero-stats-box {
        width: 100%;
        max-width: 400px;
        margin-top: 40px;
        margin-inline: auto;
    }

    #hero-bottom-box {
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
    }

    .bottom-inner-box {
        justify-content: left;
        border-bottom: 1px solid var(--black);

    }


    .middle-box {
        border: none;
        border-bottom: 1px solid var(--black);
    }



    #main-content-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding-inline: 40px;
    }

    #main-contant {
        order: 2;
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
    }

    #content-aside {
        order: 1;
    }

    /* #similar-classes-box {
        padding-inline: 10px;

    } */
    #similar-classes-box h2 {
        text-align: center;

    }

    #learn-more-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #remote-class-info p{
text-align: left;
    }

    #remote-class-info div {
        flex-direction: column;
        gap: 25px;
    }

    #remote-class-info div {
        flex-direction: column;
        gap: 25px;
    }

    #policy-wrapper {
        flex-direction: column;
        text-align: left;
    }
    #policy-box p{
        text-align: left;
    }

    .footer-rows {
        flex-direction: column;
        align-items: center;
    }

    .footer-rows h4,
    p {
        text-align: center;
    }

}